.more {
    border-radius: 3px;
    display: block;
    width: 100%;
    background: white;
    border: none;
    color: #f32020;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: light;
    border: 1px solid #f32020;
}
