.ConflictItem {
    display: block;
    margin: 15px 0;

    &:hover {
        background: rgba(#f32020, .2);
    }

    abbr {
        border-bottom: 0
    }

    &__Number {
        font-weight: 600;
        color:#f32020;
    }
}
